.react-calendar
  width: 100%
  height: 400px
  background: #2e3141
  border: none

.react-calendar__navigation
  background: #3a3e52
  height: 94px
  button
    color: #ffffff
  button:hover
    background: #2f3242!important
  button:focus
    background: #2f3242!important

.react-calendar__navigation__label
  color: #ffffff
  text-transform: uppercase

.react-calendar__month-view__weekdays
  width: 70%
  color: #9ea3b4
  margin-left: 15%

.react-calendar__month-view__days
  width: 70%
  margin-left: 15%

.react-calendar__tile--active
  border-radius: 50%

@media (max-width: 993px)
  .react-calendar__month-view__days
    width: 100%
    margin-left: 0
  
