.message-user-data-list
  padding: 0
  list-style: none
  background-color: #2b2d3c
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3)
  height: 83vh
  position: fixed
  bottom: 0
  right: 0
  width: 25%
  margin: 0
