.message-content-section
  overflow-y: auto
  height: 75%
  align-items: flex-end
  width: 100%

.message-content-section::-webkit-scrollbar
  display: none

.message-content-item-list
  align-items: flex-end
  padding: 0
  list-style: none
  li
    margin-top: 4em

.send-message-form-wrap
  position: fixed
  bottom: 10px
  width: 90%
  border-radius: 10px

.send-message-input
  padding: 0 7% 0 4%
  color: #ffffff
  display: flex
  justify-content: center
  border: 1px solid rgba(156, 161, 178, 0.3)
  width: 100%
  background-color: #404359
  height: 41px
  border-radius: 10px
  resize: none
  line-height: calc(31 * 7.5%)
  z-index: 999999

.send-message-input:focus
  height: auto

.send-message-input::-webkit-scrollbar
  display: none


.send-message-btn
  background-color: #404359
  width: 20px
  height: 11px
  position: absolute
  top: 40%
  border: none
  right: 30px
  background-image: url("./graphic/icons/attachment.png")
  background-position: center
  background-repeat: no-repeat
