.CircularProgressbar-trail
  stroke: #4d505f!important

.CircularProgressbar-text
  fill: #2196f3!important
  font-size: 22px!important

.progress-info-count
  width: 100%
  font-size: 20px
  line-height: 28px
  font-weight: 700
  margin: 0

.progress-info-foo
  width: 100%
  font-size: 16px
  color: #9ca1b2
