.nav-list
  padding: 1em 0 0 0
  margin: 0
  li
    margin-top: 1em
    list-style: none
    font-size: 18px
    width: 100%
    a
      color: #ffffff
      display: block
      width: 100%
      text-decoration: none
      padding: 1em 3em 1em 1em


a:before
  box-sizing: content-box

.navigation
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2)
  background-color: #2f3242
  height: 100vh
  padding: 0
  position: fixed
  z-index: 80000
  .logo
    background-position: center
    background-size: cover
    height: 33px
    width: 33px
    margin: 0
  li
    a
      padding-right: 1em

.active
  background-color: #122143
  border-left: 3px solid #5584ff

.home:before
  padding-right: 0.5em
  content: url("./graphic/icons/home.png")

.menu:before
  padding-right: 0.5em
  content: url("./graphic/icons/menu--3-.png")

.trending:before
  padding-right: 0.5em
  content: url("./graphic/icons/trending-up.png")

.email:before
  padding-right: 0.5em
  content: url("./graphic/icons/email--2-.png")

.users:before
  padding-right: 0.5em
  content: url("./graphic/icons/users.png")

.settings:before
  padding-right: 0.5em
  content: url("./graphic/icons/settings.png")


.active-menu:before
  padding-right: 0.5em
  content: url("./graphic/icons/active/menu--3-.png")

.active-trending:before
  padding-right: 0.5em
  content: url("./graphic/icons/active/trending-up.png")

.active-email:before
  padding-right: 0.5em
  content: url("./graphic/icons/active/email--2- (1).png")

.active-home:before
  padding-right: 0.5em
  content: url("./graphic/icons/active/home.png")

.active-users:before
  padding-right: 0.5em
  content: url("./graphic/icons/active/users-active.png")

.active-settings:before
  padding-right: 0.5em
  content: url("./graphic/icons/active/settings-active.png")
