.home-inbox
  height: 360px
  margin: 0
  padding: 0
  overflow-y: scroll

.home-inbox
  &::-webkit-scrollbar
    display: none
  &::-moz-scrolled-canvas
    display: none

.inbox-item
  min-height: 110px
  display: flex
  align-items: center
  border-bottom: 1px solid rgba(156, 161, 178, 0.3)
  background-color: #2f3242
  text-overflow: ellipsis

.home-project-title
  height: 94px
  text-overflow: ellipsis

.inbox-item-image
  padding: 0 24px 0 24px

.inbox-item-user-name
  font-weight: 700

.inbox-item-data-time
  margin-right: 10px

.inbox-item-text
  font-size: 14px
