.coversation-section
  overflow: hidden
  position: relative

.coversation-item-wrap
  width: 425px

.coversation-item-wrap
  overflow-y: scroll
  height: 75vh

.coversation-item-wrap::-webkit-scrollbar
  display: none

.coversation-wrap-btn
  width: 425px
  border-top: 1px solid rgba(77, 80, 95, 0.3)
  padding: 1em 1em 1em 1em
  background-color: #2b2d3c
  display: flex
  justify-content: center
  position: fixed
  bottom: 0

.coversation-btn
  padding: .5em 0
  border: none

.coversation-toggle-btn
  display: none
  width: 1%
  height: 20vh
  position: fixed
  top: 45%
  background: #2481ce
  transition: width  1s, border-radius .5s
  border-top-right-radius: 100%
  border-bottom-right-radius: 100%
  z-index: 999999

.coversation-toggle-btn:hover
  width: 4%
  transition: width  1s, border-radius .5s
  cursor: pointer
  border-top-right-radius: 50%
  border-bottom-right-radius: 50%

.add-new-coversation
  position: fixed
  bottom: 45px
  width: 20%
  list-style: none
  padding: 0
  background-color: #2f3242
  li
    border-bottom: 1px solid #3f4457

.add-new-coversation-user
  border: none
  background: transparent
  color: #ffffff
  width: 100%
  padding: 5px 10px 5px 10px

.add-new-coversation-user:hover
  background-color: #53596e



@media (max-width: 1100px)
  .coversation-wrap-btn
    width: 400px
  .coversation-item-wrap
    width: 400px

@media (max-width: 1250px)
  .coversation-toggle-btn
    display: block
  .coversation-hidden
    display: none
  .coversation-wrap-btn
    width: 370px
  .coversation-item-wrap
    width: 370px

@media (max-width: 880px)
  .coversation-wrap-btn
    width: 250px
  .coversation-item-wrap
    width: 250px

@media (max-width: 550px)
  .coversation-btn-cov
    display: none
  .coversation-wrap-btn
    width: 125px
  .coversation-item-wrap
    width: 125px

@media (max-width: 450px)
  .coversation-wrap-btn
    width: 110px
  .coversation-item-wrap
    width: 110px