.message-content-coversation
  padding: 0
  box-shadow: 0 0 80px 0 rgba(23, 24, 32, 0.3)
  position: relative

.message-content-wrap
  display: flex
  overflow-y: auto
  height: 80vh

.message-wrap::-webkit-scrollbar
  display: none

.message-content
  overflow: hidden
  height: 81vh

.message-side-header-icon
  margin: 0 3px 3px 0
  height: 18px
  width: 18px

@media (max-width: 480px)
  .menu-links
    display: none
  .nav-link
    padding: .2rem .5rem

