.message-content-coversation
  padding: 0
  box-shadow: 0 200px 80px 0 rgba(23, 24, 32, 0.3)
  overflow: hidden
  position: relative

.message-wrap
  padding: 0
  list-style: none
  background-color: #2b2d3c
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3)
  height: 100%
  margin: 0
  overflow-y: scroll
  width: 300px

.message-wrap::-webkit-scrollbar
  display: none