.side-header-wrap
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2)
  background-color: #2481ce
  padding: 1.2em 3em 1.2em 4em
  width: 100%
  position: fixed
  z-index: 1000

.active-side-header-link
  color: #fff

.side-header-nav
  border-bottom: none

@media(max-width: 431px)
  .menu-links
    font-size: 14px

@media(max-width: 575px)
  .drop-description
    display: none
  .drop-side-wrap
    width: 60px