.trending-list-wrap
  width: 100%

.trending-table-row
  padding: 21px 0 21px 0
  border-top: 1px solid rgba(156, 161, 178, 0.3)

.trending-row
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2)
  height: 71px
  background: #3a3e52

.trending-row
  div
    div:hover
      cursor: pointer

.trending-list
  margin: 0
  padding: 0

.is-active
  margin-bottom: 3px
  margin-right: 0.4em
  width: 14px
  height: 14px
  background-color: #4caf50
  border-radius: 50%

.is-unActive
  margin-bottom: 3px
  margin-right: 0.4em
  border-radius: 50%
  width: 14px
  height: 14px
  background-color: #f44336

.trending-table-side-description
  color: #2196f3
  display: none

@media (max-width: 1180px)
  .trending-table-row
    div
     font-size: 14px


@media (max-width: 991px)
  .trending-table-side-description
   display: block
  .trending-list
    div
      justify-content: space-between
  .trending-table-row
    div
      justify-content: space-between
      text-align: center
  .trending-row
    display: none!important
