.home-trending
  position: absolute
  box-shadow: 0 3px 40px rgba(23, 24, 32, 0.2)

.home-page
  margin-top: 64px

.home-trending-wrap
  overflow: hidden!important
  height: 400px

.sales-report-home-wrap
  padding-right: 0
  padding-left: 30px

.home-inbox-wrap
  padding-right: 0

.home-footer
  margin-top: 15px
