@import "components/dumb/title/title"
@import "components/dumb/logo/logo"
@import "components/dumb/user-menu/user-menu"

@import "components/smart/navigation/navigation"
@import "containers/menu/side-header"
@import "components/smart/main-header/main-header"
@import "components/smart/all-projects/all-projects"

@import "containers/sign/sign"

body
  background-color: #2b2d3c

.button
  padding-right: 4em
  padding-left: 4em
  border-radius: 30px
  background-color: #5584ff
  height: 40px

button
  outline: none!important
  cursor: pointer

.containers
  padding-top: 96px
  padding-left: 2cm

.online
  position: absolute
  width: 18px
  height: 18px
  border: 4px solid #ffffff
  background-color: #00bf1b
  border-radius: 50%
  top: 10px
  left: 60px