@import "components/dumb/title/title"
@import "components/dumb/logo/logo"
@import "components/dumb/user-menu/user-menu"

@import "components/smart/navigation/navigation"
@import "components/smart/side-header/side-header"
@import "components/smart/main-header/main-header"

@import "containers/sign/sign"

.button
  padding-right: 4em
  padding-left: 4em
  border-radius: 30px
  background-color: #5584ff
  height: 40px

button
  outline: none!important
  cursor: pointer

.containers
  margin-top: 6em
  padding-left: 5em
