@import "components/dumb/title/title"
@import "components/dumb/logo/logo"
@import "components/dumb/user-menu/user-menu"
@import "components/dumb/workflow-item/workfow-item"
@import "components/dumb/progress-bar/progrss-bar"
@import "components/dumb/circular-progressbar/circual-progressbar"
@import "components/dumb/dropdown-side-btn/side-drop-btn"
@import "components/dumb/main-header-add-btn/add-button"
@import "components/dumb/coversation-item/coversation-item"
@import "components/dumb/message-content-item/message-content-item"

@import "components/containers/navigation/navigation"
@import "components/containers/main-header/main-header"
@import "components/containers/all-projects/all-projects"
@import "components/containers/workflow/workfow"
@import "components/containers/trending-charts/trending-charts"
@import "components/containers/trending-table/trending-table"
@import "components/containers/home-project/home-project"
@import "components/containers/inbox/home-inbox"
@import "components/containers/calendar/caledar"
@import "components/containers/coversation/coversation"
@import "components/containers/message-side-data/message-side-data"
@import "components/containers/message-content/message-content"

@import "screens/menu/side-header"
@import "screens/menu/menu-section"
@import "screens/sign/sign"
@import "screens/home-page/home-page"
@import "screens/message/message"

body
  background-color: #2a2c3b
  font-family: 'Montserrat', sans-serif

.button
  padding-right: 1em
  padding-left: 1em
  border-radius: 30px
  background-color: #5584ff
  height: 40px

button
  outline: none!important
  cursor: pointer

input
  outline: none!important

.containers
  padding-top: 6em
  padding-left: 2.2cm
  width: 100%

.online
  position: absolute
  width: 18px
  height: 18px
  border: 4px solid #ffffff
  background-color: #00bf1b
  border-radius: 50%
  top: 10px
  left: 60px

.content-wrap
  margin-top: 4.9em
  width: 100%

::-webkit-scrollbar
  margin-bottom: 10px
  height: 12px
  border-radius: 6px
  background-color: #9ea3b4
  opacity: 0.3

::-webkit-scrollbar-thumb
  height: 12px
  background-color: #2196f3
  border-radius: 6px
