.workflow-item
  box-shadow: 0 30px 40px rgba(14, 14, 20, 0.3)
  border-radius: 5px
  background-color: #3a3e52
  margin-bottom: 18px
  padding: 1em
  height: 94px
  max-width: 285px

.project-name
  font-size: 16px
  letter-spacing: 0.32px
  padding-right: 0

.project-content
  font-size: 14px
  letter-spacing: 0.28px
  padding-right: 0
